//font

$fontPrincipal: 'Roboto', sans-serif;

//cores

$bgBody: #f5f6fa;
$bgHeader: #182C61;
$corFont: #fff;
$productBtn: #44bd32;
$productHover:#4cd137;

//breakpoints

$mobile: 767px;
$tablet: 1023px;
