* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(211, 195, 173);
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(79, 77, 82);
}